.thumbnail-wrapper{
    height: 50vh;
    background-color: #1d1d1d;
    background-size: cover;
    transition: 450ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.thumbnail-wrapper:hover{
    background-color: #3d3d3d;

    > .album-info {
        background-color: whitesmoke;
        opacity: .9;
    }
   
    > .album-songs{
        background-color: #1e1e1e;
        color:white;
        opacity: .9;
    }
}

.album-info , .album-songs{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
    transition: 450ms ease-in-out;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.album-songs{
    align-items: flex-start;
    padding-left: 10px;
}
